<div class="container">
  <h1 class="mt-5 text-center mb-3">Employee Management</h1>
  <div class="d-flex">
    <div><button class="btn border me-1" (click)="filter('')">All</button> <button class="btn border me-1" (click)="filter('Active')">Active</button> <button class="btn border" (click)="filter('Inactive')">Inactive</button></div>
    <button class="btn btn-primary ms-auto" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Employee</button>
    <div  class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Employee</h1>
            <button type="button" (click)="handleClose()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="" [formGroup]="registerForm">
              <input type="text" class="form-control mb-3" name="name" placeholder="Name" formControlName="name">
              <input type="text" class="form-control mb-3" name="age" placeholder="Age" formControlName="age">
              <input type="text" class="form-control mb-3" name="email" placeholder="Email" formControlName="email">
             <div class="d-flex align-items-center">
                Status:<select class="form-select ms-2" aria-label="Default select example" formControlName="status">
                  <option value="Active">Active</option>
                  <option value="Inactive">Inactive</option>
                </select>
             </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="handleclr()">Clear</button>
            @if(edit){
              <button type="button" class="btn btn-primary" (click)="handleSave()">Save</button>
            }@else {
              <button type="button" class="btn btn-primary" (click)="handleAdd()">Add</button>
            }
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive mt-3">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Mail</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (item of allEmployee; track $index) {<tr>
          <td>{{item.name}}</td>
          <td>{{item.age}}</td>
          <td>{{item.email}}</td>
          <td><span class="` ${{item.status=='Active'?' bg-success ':' bg-danger '}} text-light px-2 rounded-pill pb-1 `">{{item.status}}</span></td>
          <td class="d-flex"><button class="btn btn-warning me-2"  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="handleEdit(item.name,item.age,item.email,item.status,item.id)"><span class="me-1 d-none d-md-inline">Edit</span><i class=" fa-solid fa-pen-to-square"></i></button><button class="btn btn-danger" (click)="handleDelete(item.id)"><span class="me-1 d-none d-md-inline">Delete</span><i class=" fa-solid fa-trash-can"></i></button></td>
        </tr>}
      </tbody>
    </table>
  </div>
</div>
<router-outlet />
